<!DOCTYPE html>
<html>
  <head>
    <title>RideRest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8e7682d1db.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to root_path, class: "navbar-brand fs-1" do %>
            <i class="fa-solid fa-motorcycle"></i><strong>RideRest</strong>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-center"> 
              <% if user_signed_in? %>
                <li class="nav-item mr-lg-3 my-2 my-lg-0">
                  <%= form_with url: search_path, method: :get, class: "form-inline" do |f| %>
                    <div class="input-group input-group-sm">
                      <%= f.text_field :content, class: 'form-control border-secondary text-light bg-dark', placeholder: '駐輪場を検索', style: 'width: 300px;' %>
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-dark border-secondary">
                          <i class="fas fa-search text-info"></i>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-user mr-1"></i>マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to parking_lots_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-list-ul mr-1"></i>駐輪場一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_parking_lot_path, class: 'nav-link text-light', data: {turbolinks: "false"} do %>
                    <i class="fa-solid fa-pen-to-square mr-1"></i>駐輪場を登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-right-from-bracket mr-1"></i>ログアウト
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to root_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-link"></i> About
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-user-plus mr-1"></i>新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                    <i class="fa-solid fa-right-to-bracket mr-1"></i>ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0 bg-light ">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <% if message_type == 'notice' %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% elsif message_type == 'alert' %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
    </main>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-white">© 2025 RideRest. All Rights Reserved.</span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
